<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://kit.fontawesome.com/34232c07fe.js" crossorigin="anonymous"></script>
    <title>WebStore</title>
  </head>

  <body>
    <div id="app">
      <router-link to="/"><i class="fa-sharp fa-solid fa-house"></i></router-link>
      <router-link to="/user-setting"><i class="fa-sharp fa-solid fa-user"></i></router-link>
      <router-view></router-view>
    </div>

    <script type="text/x-template" id="home">
              <div class="home-container">
              <h1>Articles</h1>

              <!-- Search display -->
              <input v-model = "searchKey" type="search" id="search" placeholder="Rechercher..." autocomplete="off" >
              <span v-if="searchKey && filteredList.length >=1">{{ filteredList.length }} résultat <span v-if="filteredList.length >=2"></span></span>

      <div class="card-cart-container">
          <div class="card-container"> 
              <div v-for = "product in products" class="card">

                  <div  class="card-img">
                      <img  v-bind:src="product.img" alt="Montre">
                      </div>

                      <div class="card-text">
                  <h3> {{ product.description }} </h3>
                  <span>{{ product.price }} </span>
                      </div>

                      <div class="card-icons">
                        <div class="like-container">
                            <input type="checkbox" name="checkbox" v-bind:id="product.id"/>
                            <label v-bind:for="product.id">
                                <i class="fa-solid fa-heart"></i>
                            </label>

<div class="add-to-cart">
    <button>
    <i class="fa-solid fa-cart-shopping"></i>
    </button>
</div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <script src="vue.js"></script>
    <script src="index.js"></script>
  </body>
</html>
